@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-color: #292524;
    --color--primary: #B76F2B;
    --bg-color: #f5f5f4;
    --bg-color--light: #fff;
    --font-header: "Jost Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    @media (prefers-color-scheme: dark) {
        --font-color: #f5f5f4;
        --bg-color: #1c1917;
        --bg-color--light: #292524;
    }
}

html, body {
    @apply bg-white dark:bg-stone-800 dark:text-stone-100;
}

@media (prefers-color-scheme: dark) {
    .leaflet-layer {
        filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }
}

h1 span {
    @apply font-special text-[0.5em] align-super;
}

h2, h3, h4, h5, h6 {
    span {
        @apply text-primary
    }
}

* {
    text-wrap: balance;
}

.c-button {
    background-color: #3b82f6;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    padding: 0.875rem 1.5rem;
    text-transform: uppercase;
    transition: background-color 0.3s, ring 0.3s;
}

.c-button:hover {
    background-color: #2563eb;
}
