.c-header {
    color: var(--font-color);
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 1;
    margin-block-end: 1rem;
}

.c-header--center {
    @media (width >= 768px) {
        text-align: center;
    }
}

.c-header--large {
    font-size: 3rem;
}
