/* Event List Component */
.o-event-list {
    margin: 0 auto; /* mx-auto */
    max-inline-size: 1280px; /* max-w-screen-xl */
    padding: 2rem 1.5rem; /* px-6 py-8 */
}

@media (width >= 640px) {
    .o-event-list {
        padding-block: 4rem; /* sm:py-16 */ /* sm:py-16 */
    }
}

.o-event-list__items {
    display: flex; /* flex */
    flex-wrap: wrap; /* flex-wrap */
    margin: 2rem 0; /* my-8 */
}
