
.o-header {
    block-size: 8rem;
    inline-size: 100%;
    inset-block-start: 0;
    position: absolute;
    z-index: 20;
}

@media (width >= 768px) {
    .o-header {
        block-size: 5rem;
    }
}

.o-header__container {
    align-items: center;
    block-size: 5rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-inline-size: 1280px;
    padding: 0.5rem;
}

@media (width >= 768px) {
    .o-header__container {
        flex-direction: row;
    }
}

.o-header__logo-link {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (width >= 768px) {
    .o-header__logo-link {
        flex-direction: row;
    }
}

.o-header__logo {
    block-size: 4rem;
    inline-size: auto;
}

.o-header__logo--dark-hidden {
    display: block;
}

.o-header__logo--dark-visible {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .o-header__logo--dark-hidden {
        display: none;
    }

    .o-header__logo--dark-visible {
        display: block;
    }
}

.o-header__title {
    color: #fff;
    font-family: header-font, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    margin-inline-start: 0.5rem;
}

.o-header__nav {
    margin: 0 auto;
}

@media (width >= 768px) {
    .o-header__nav {
        margin-inline-end: 0;
    }
}

.o-header__nav-list {
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    gap: 2rem;
    margin-block-start: 0.5rem;
    text-transform: uppercase;
}

@media (width >= 768px) {
    .o-header__nav-list {
        margin-block-start: 0;
    }
}

.o-header__nav-item a {
    color: #fff;
}
