.c-hero {
    block-size: 100%;
    display: flex;
    inline-size: 100%;
    max-inline-size: 100vi;
    min-block-size: 100vb;
    position: relative;
}

.c-hero__content {
    align-items: center;
    display: flex;
    margin-inline: auto;
    max-inline-size: var(--container-width);
    padding-block: 10rem 6rem;
    padding-inline: 1.5rem;
    position: relative;
    z-index: 10;
}

.c-hero__image {
    inline-size: 100%;
    inset: 0;
    position: absolute;
}

.c-hero__image::after {
    background-color: rgb(0 0 0 / 40%);
    content: '';
    inset: 0;
    position: absolute;
}

.c-hero__image-inner {
    inline-size: 100%;
    inset: 0;
    position: absolute;
}

.c-hero__image-element {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
}

.c-hero__text {
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: 1280px;
    padding-block-start: 3rem;
}

.c-hero__header {
    color: #fff;
    font-size: clamp(2.5rem, -0.5718rem + 6vi, 5rem);
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;

    span {
        font-family: var(--font-accent), serif;
    }
}

.c-hero__body {
    color: #fff;
    font-size: 1.25rem;
    margin-block: 2rem 3rem;
    max-inline-size: 48rem;
}
